{% extends 'changeprofilebase.html' %}

{% block title %} Change Password{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Change Password</h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <label for="current_password" class="form-label"> {{ form.current_password.label }}</label>
                {{ form.current_password }}
            </div>

            <div class="mb-3">
                <label for="new_password" class="form-label"> {{ form.new_password.label }}</label>
                {{ form.new_password }}
            </div>

            <div class="mb-3">
                <label for="confirm_new_password" class="form-label"> {{ form.confirm_new_password.label }}</label>
                {{ form.confirm_new_password }}
            </div>

            {{ form.change_password }}
        </form>
    </div>

{% endblock %}
